<html>
    <head></head>
    <body>
        
        <form>
            <input required type='text' name='guess' />
            <input type='submit' value='Guess!' />
        </form>
    

        <p><%= message %> </p>
        <p> Previous guess: <%= guess %> </p>
         
     </body>
</html>












